@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
        <h1>Welcome to Gift of the Givers</h1>
        <p>Making a difference through compassion, community, and care.</p>
        <a href="/Donations/index" class="btn btn-hero">Make a Donation</a>
    </div>
</section>